<%- include('../include/head.ejs')%>

<link rel="stylesheet" href="/css/auth.css">

</head>

<body>

<%- include('../include/navigation.ejs')%>

<main>

<% if (errormessage) { %>
   
    <div class="user-message user-message--error"> <%= errormessage %> </div>
   
  <% } %>

<form class="login-form" action="/setnewpassword" method="POST">
            <div class="form-control">
                <label for="password"> new password </label>
                <input type="password" name="newpassword" id="password" required>
            </div>

            <input type="hidden" name="userid" value="<%= userid %>">
            <input type="hidden" name="_csrf" value="<%= csrftoken %>">
            <input type="hidden" name="passwordtoken" value="<%= token %>">
 
  <button type="submit" class="btn">
   update password
  </button>
</form>




</main>


<%- include('../include/end.ejs')%>